{% extends "site.html" %}
{% block head %}
  <style type="text/css">
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 60%; width: 50% }
    .wider{width: 50% }
    .narrower {width: 50% }
    .num { text-align: right; }
    .left_margin { margin-left: 15px; }
    }
  </style>
{% endblock %}
{% block body %}
    <h2>Hiker: {{ hiker.trail_name }} </h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table class=narrower>
        <tbody>
            <tr>
                <td>{{ hiker.miles_hiked }} miles hiked ({{ hiker.percent_hiked }}%)</td>
                <td>{{ hiker.miles_to_go }} miles remaining</td>
                <td class=num><input onclick="toggleMarkers();" type=button value="Show/Hide Features"></td>
            </tr>
        </tbody>
    </table>
    <br>

    <div id="map" class="left_margin"></div>
    <script type="text/javascript">
        var map;
        var feature_markers = [];
        var show_features = null;
        function initMap() {

            var mid = JSON.parse('{{ mid }}');
            map = new google.maps.Map(document.getElementById('map'), {
                center: mid,
                zoom: 5,
                zoomControl: true,
                panControl: true,
            });

            var polylines = JSON.parse('{{ polylines }}');
            polylines.forEach(function(polyline) {
                var trail = new google.maps.Polyline({
                    path: polyline.coordinates,
                        geodesic: true,
                        strokeColor: polyline.color,
                        strokeOpacity: 1.0,
                        strokeWeight: 4
                    });
                trail.setMap(map);

                //Draw markers for beginning of every segment.
                var display_markers = JSON.parse('{{ display_markers }}');
                if (display_markers == 1) {
                    polyline.coordinates.forEach(function(coordinate) {
                        var marker = new google.maps.Marker({
                            position: coordinate,
                            map: map,
                            title: coordinate['lat']+' '+coordinate['lng']
                        });

                    });
                };
            });

            //Display features: shelters, peaks...
            var features = JSON.parse('{{ features }}');
            features.forEach(function(feature) {
                var latLng = {lat: feature['lat'], lng: feature['lon']};
                var title = feature['name'];
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: null,
                    title: title
                });
                feature_markers.push(marker)
            });

        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
          for (var i = 0; i < feature_markers.length; i++) {
            feature_markers[i].setMap(map);
          }
        }

        // Toggles the markers from the map, but keeps them in the array.
        function toggleMarkers() {
            if (show_features) {
                show_features = null;
            } else {
                show_features = map;
            }
            setMapOnAll(show_features);
        }

    </script>
    <script asynch defer
        src="https://maps.googleapis.com/maps/api/js?key={{google_maps_browser_key}}&callback=initMap">
    </script>

    <br>
    <div>
      <table class=wider>
        <tbody>
              <tr>
                  <td>Number of Segments: {{ hiker.number_segments }}</td>
                  <td><a href="{% url 'segment_add' hiker.id %}">Add Segment</a></td>
                  <td><a href="{% url 'segment_add2' hiker.id %}">Add Segment2</a></td>
                  <td class=num><a href="{% url 'index' %}">Home to all Hikers</a></td>
              </tr>
        </tbody>
      </table>
    </div>
    <div id="table">
      <table border=1>
        <thead>
            <tr>
               <th>Date</th>
               <th>Start mile</th>
               <th>End mile</th>
               <th>Segment Distance</th>
               <th>Description</th>
               <th>Video</th>
               <th>Pictures</th>
               <th>Additional miles</th>
               <!--th>Delete segment</th-->
               <th>Edit segment</th>
            </tr>
        </thead>
        <tbody>
            {% for segment in segments %}
              <tr>
                  <td>{{ segment.date }}</td>
                  <td class=num>{{ segment.start_mile }}</td>
                  <td class=num>{{ segment.end_mile }}</td>
                  <td class=num>{{ segment.distance }}</td>
                  <td>{{ segment.description }}</td>
                  <td>{{ segment.video_url }}</td>
                  <td>{{ segment.picture_url }}</td>
                  <td class=num>{{ segment.additional_miles }}</td>
                  <!--td><a href="{% url 'segment_delete' hiker.id segment.id %}">Delete</a></td>-->
                  <td><a href="{% url 'segment_edit' hiker.id segment.id %}">Edit</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
