<h1>Hiker: {{ hiker.trail_name }} </h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div id="table">
  <table border=1>
    <thead>
        <tr>
           <th>Date</th>
           <th>Start mile</th>
           <th>End mile</th>
           <th>Segment Distance</th>
           <th>Description</th>
           <th>Video</th>
           <th>Pictures</th>
           <th>Additional miles</th>
           <th>Delete segment</th>
           <th>Edit segment</th>
        </tr>
    </thead>
    <tbody>
        {%for segment in hiker.segment_set.all %}
          <tr>
              <td>{{ segment.date }}</td>
              <td>{{ segment.start_mile }}</td>
              <td>{{ segment.end_mile }}</td>
              <td>{{ segment.distance }}</td>
              <td>{{ segment.description }}</td>
              <td>{{ segment.video_url }}</td>
              <td>{{ segment.picture_url }}</td>
              <td>{{ segment.additional_miles }}</td>
              <td><a href="{% url 'segment_delete' hiker.id segment.id %}">Delete Segment</a></td>
              <td><a href="{% url 'segment_edit' hiker.id segment.id %}">Edit Segment</a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<br>
Number of Segments: {{ hiker.number_segments }}
<br>
<br>
<a href="{% url 'segment_add' hiker.id %}">Add Segment</a>

<br>
<br>
<a href="{% url 'index' %}">Home to all Hikers</a>
