<head>
  <title>ATSHiT - Appalachian Trail Section Hiker Tracker</title>
</head>
<h1>ATSHiT - Appalachian Trail Section Hiker Tracker</h1> 
<h2>Hikers</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% else %}
    {% if hikers %}
        <ul>
        {% for hiker in hikers %}
          <li><a href="{% url 'hiker' hiker.id %}">{{ hiker.trail_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hikers are available.</p>
    {% endif %}
{% endif %}
