{% extends "site.html" %}
{% block head %}
  <style type="text/css">
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 60%; width: 50% }
    .wider{width: 50% }
    .narrower {width: 50% }
    .narrowest {width: 35% }
    .medium {width: 75% }
    .num { text-align: right; }
    .left_margin { margin-left: 15px; }
    h1 { line-height: 8px; }
    h2 { line-height: 5px; }
    th { text-align: left; }
  </style>
{% endblock %}

{% block body %}
This is a crude early prototype. If you'd like to use the app early, send <a href="mailto:chrisfpaul@gmail.com">chrisfpaul@gmail.com</a> an email.
<h2>Hikers</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% else %}
    {% if hikers %}
        <table class=narrowest>
            <thead>
                <tr>
                    <th>Trail name</th>
                    <th>Street name</th>
                    <th>Miles hiked</th>
                    <th>Last hike date</th>
                </tr>
            </thead>
            <tbody>
                {% for hiker in hikers %}
                    <tr>
                        <td><a href="{% url 'hiker' hiker.id %}">{{ hiker.trail_name }}</a></td>
                        <td>{{ hiker.user.first_name }} {{ hiker.user.last_name }}</td>
                        <td>{{hiker.miles_hiked}}</td>
                        <td>{{hiker.last_segment_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hikers are available.</p>
    {% endif %}
{% endif %}
{% endblock %}
