<h1>Add a Segment for Hiker {{ hiker.trail_name }} </h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% else %}
    <form action="{% url 'segment_add' hiker.id %}" method="post">
        {% csrf_token %}
        <input id="date" type="date" name="date">
        <label for="date">Date hiked </label>
        <br>

        <input id="start_mile" name="start_mile" type="number" step=any>
        <label for="start_mile">Start mile </label>
        <br>

        <input id="end_mile" name="end_mile" type="number" step=any>
        <label for="end_mile">End mile </label>
        <br>

        <input id="description" name="description" type="text">
        <label for="description">Description </label>
        <br>

        <input id="video_url" name="video_url" type="text">
        <label for="video_url">Video URL </label>
        <br>

        <input id="picture_url" name="picture_url" type="text">
        <label for="picture_url">Picture URL </label>
        <br>

        <input id="additional_miles" name="additional_miles" type="number" step=any>
        <label for="additional_miles">Additional miles </label>
        <br>

        <br>
        <input type="submit" value="OK">
    </form>
{% endif %}
